* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #0f172a;
    color: white;
}

.contact-page {
    max-width: 1200px;
    margin: auto;
    padding: 50px 20px;
}

.contact-hero {
    text-align: center;
    margin-bottom: 50px;
}

.contact-hero h1 {
    font-size: 48px;
    margin-bottom: 15px;
}

.contact-hero p {
    color: #ccc;
    font-size: 18px;
}

.contact-section {
    display: grid;
    grid-template-columns: 1fr 1.3fr;
    gap: 40px;
    align-items: start;
}

.contact-info,
.contact-form {
    background: #1e293b;
    padding: 35px;
    border-radius: 15px;
}

.contact-info h2,
.contact-form h2 {
    margin-bottom: 25px;
}

.info-box {
    background: #111827;
    padding: 20px;
    border-radius: 12px;
    margin-bottom: 20px;
}

.info-box h3 {
    margin-bottom: 8px;
    color: #4f8cff;
}

.info-box p {
    color: #ccc;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.contact-form label {
    margin-bottom: 8px;
    font-weight: bold;
}

.contact-form input,
.contact-form textarea {
    margin-bottom: 20px;
    padding: 14px;
    border: none;
    border-radius: 8px;
    outline: none;
    font-size: 16px;
}

.contact-form textarea {
    resize: vertical;
}

.contact-form button {
    border: none;
    padding: 15px;
    background: #2563eb;
    color: white;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.contact-form button:hover {
    background: #1d4ed8;
}



@media (max-width: 768px) {
    .contact-section {
        grid-template-columns: 1fr;
    }

    .contact-hero h1 {
        font-size: 36px;
    }
}
